*{
    font-size:12px;
    font-family:"Microsoft YaHei";
    color:#e8e5d5;
}

/*-------------------FmlStyle----------------*/
QWidget[fmlName="WeekendCalendar"] {
    color: #dfae64;
}
/*-------------------------------------------*/

QPushButton,QToolButton{
    background: #1b4b63;
    outline: none;
    color:#e8e5d5;
    height:24px;
    border-radius: 5px;
}

QPushButton::hover,QToolButton::hover{
    background:#206c93;
	color:#ff900d;
	outline: none;
}
QPushButton::pressed,QToolButton::pressed{
    background:#0b2c3d;
	color:#ff900d;
	outline: none;
}
QPushButton::disabled,QToolButton::disabled{
    background:#3d4342;
    color:#121716;
	outline: none;
}

IDBImageButton,IDBImageButton::hover,IDBImageButton::pressed,IDBImageButton:disabled,IDBImageButton:hover,IDBImageButton:checked{
    background:transparent;
    outline: none;
    color: transparent;
    margin: 0;
    padding: 0;
}

MainTitle QLabel, TitleWidget QLabel {
    color: #e8e5d5;
    font-size: 14px;
}

basicui{
	background: #000000;
}
basicui QWidget[objectName="title"]{
	background: #0a2d3c;
}

QScrollBar:vertical {
    background:#152731;
    width: 6px;
    min-width:6px;
    max-width:6px;
    margin: 0;
}
QScrollBar::handle:vertical {
    background:#1b4b63;
    min-height: 30px;
    margin: 0px 0px 0px 0px;
    border-radius: 2px;
    border: none;
}
QScrollBar::handle:vertical:hover {
    background:#277fad;
}

QScrollBar::handle:vertical:pressed {
    background:#206c93;
}
QScrollBar::handle:vertical:disabled {
    background:#28282c;
}

QScrollBar::add-line:vertical {
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    width: 0px;
    height: 0px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: transparent;
}

QScrollBar:horizontal {
    background:#152731;
    height: 6px;
    margin: 0;
}
QScrollBar::handle:horizontal {
    background:#1b4b63;
    min-width: 30px;
    margin: 0 2px 0 1px;
    border-radius: 3px;
    border: none;
}

QScrollBar::handle:horizontal:hover {
    background:#277fad;
}

QScrollBar::handle:horizontal:pressed {
    background:#206c93;
}
QScrollBar::handle:horizontal:disabled {
    background:#28282c;
}

QScrollBar::add-line:horizontal {
    width: 0px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    width: 0px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    width: 0px;
    height: 0px;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QMenuBar {
	color: #e8e5d5;
    background: #0a2d3c;
    border:none;
	text-align: center;
	font-size: 14px;
}

QMenuBar::item {
    padding: 0px 10px 3px 10px;
	margin: 3px 2px;
    border-radius: 5px;
    background: transparent;
}
QMenuBar::item:selected
{
    background: #1b4b63;
}
QMenuBar::item:pressed
{
    background: #1b4b63;
}
QMenuBar::item:hover
{
    background: #206c93;
}
QMenu {
	font-size:14px;
	color:#e8e5d5;
    background-color:#1b4b63;
    text-align:center;
    float:left;
}
QMenu::item {
    padding: 3px 25px 5px 20px;
}
QMenu::item:hover {
    background: #fe900d;
	margin: 0px;
	color: #0b2c3d;
}
QMenu::item:selected {
    background:#fe900d;
	margin: 0px;
	color: #0b2c3d;
}
QMenu::item:!enabled {
    color:#75777e;
}
QMenu::separator {
    height:1px;
    background:#1D99A9;
}
QMenu::item[objectName="SkinMenu"] {
    padding: 3px 15px 3px 20px;
    margin-left: 3px;
}

QLineEdit {
    background:#121716;
    color:#e8e5d5;
    font-size:12px;
    height:20px;
    /*selection-background-color:#0e9496;*/
    border: 1px solid #1b4b63;
}
QLineEdit[property="error"] {
    /*selection-background-color:#0e9496;*/
    border-left: 5px solid qlineargradient(spread:pad, x1:1, y1:0, x2:0, y2:0, stop:0 rgba(255, 0, 0, 120), stop:1 transparent);
	border-bottom: 5px solid qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 0, 0, 120), stop:1 transparent);
	border-right: 5px solid qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(255, 0, 0, 120), stop:1 transparent);
	border-top: 5px solid qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(255, 0, 0, 120), stop:1 transparent);
}

QLineEdit::hover, 
QLineEdit::pressed {
    background:#232220;
	border: 1px solid #a67439;
    color: #e8e5d5;
}
/*QLineEdit::pressed{
    background:#232220;
	border-color: #a67439;
}*/
/*QLineEdit::disabled{
    background:#36383d;
    color:#aaaaaa
}*/

QTextEdit, QPlainTextEdit {
    background:#121716;
    color:#e8e5d5;
    font-size:12px;
    height:20px;
    /*selection-background-color:#0e9496;*/
    border: 1px solid #1b4b63;
}

QTextEdit::hover,
QTextEdit::pressed,
QPlainTextEdit::hover,
QPlainTextEdit::pressed{
    background:#232220;
	border: 1px solid #a67439;
    color: #e8e5d5;
}

QScrollArea
{
    background-color:transparent;
    border:0px;
	outline: none;
}

QScrollArea > QWidget > QWidget
{
    background: transparent;
    border: 0px solid black;
    margin: 0px 0px 0px 0px;
}

QWidget#ReloginMessageBoxWidget QLabel{
    font-size:13px;
}
QWidget#ReloginMessageBoxWidget QPushButton{
    font-size:15px; 
	font-weight:bold;
}

MessageBoxWidget {
	background-color: #0e2e37;
	border-radius: 5px;
	border: 1px solid #206c93;
}

MessageBoxWidget QLabel[objectName="labelContent"] {
	color:#e8e5d5;
	font:16px;
}

QToolTip {
    color: white;
    border: 1px solid #76797c;
    background-color: #1e1e1e;
    font-size: 12px;
    padding: 2px;
    opacity: 200;
}

DragInOutTabWidget{
    background: transparent;
}

DragInOutTabWidget::pane {
    border-top: 3px solid #ff900d;
    border-radius: 1px;
    padding: 5px;
}

DragInOutTabWidget::tab-bar {
    height: 28px;
}

DragInOutTabBar {
    qproperty-drawBase: 0;
    border-radius: 1px;
    background: #0a2d3c;
    height: 28px;
    border-bottom: 3px solid #ff900d;
}

DragInOutTabBar:focus {
    border-bottom: 3px solid #ff900d;
}

DragInOutTabBar > QToolButton {
	border-radius: 0px;
}

DragInOutTabBar::close-button:selected:!hover,
DragInOutTabBar::close-button:selected:hover,
DragInOutTabBar::close-button:!selected:hover,
DragInOutTabBar::close-button:!selected:!hover {
    background-color: transparent;
}

/*
DragInOutTabBar::tab{
    margin: 0 -5px;
}
DragInOutTabBar::tab:first{
    margin: 0px;
}*/
/* TOP TABS */
DragInOutTabBar::tab:top {
    color: #0a2d3c;
    background-image: url(:/dark/active.png);
    background-repeat:no-repeat;
    height: 28px;
    width: 132px;
	/*margin-right: -10px;*/
}
/*DragInOutTabBar::tab:top:only-one {
	margin-right: 0;
}
DragInOutTabBar::tab:top:selected  {
	margin-right: -10px;
}*/
DragInOutTabBar::tab:top:!selected
{
    color: #eff0f1;
    background-image: url(:/dark/normal.png);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:top:!selected:hover {
    background-image: url(:/dark/active.png);
    background-repeat:no-repeat;
    color: #0a2d3c;
}

/* BOTTOM TABS */
DragInOutTabBar::tab:bottom {
    color: #0a2d3c;
    background-image: url(:/dark/active.png);
    background-repeat:no-repeat;
    height: 28px;
    width: 132px;
}

DragInOutTabBar::tab:bottom:!selected
{
    color: #eff0f1;
    background-image: url(:/dark/normal.png);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:bottom:!selected:hover {
    background-image: url(:/dark/active.png);
    background-repeat:no-repeat;
    color: #0a2d3c;
}

/* LEFT TABS */
DragInOutTabBar::tab:left {
    color: #0a2d3c;
    background-image: url(:/dark/active.png);
    background-repeat:no-repeat;
    height: 28px;
    width: 132px;
}

DragInOutTabBar::tab:left:!selected
{
    color: #eff0f1;
    background-image: url(:/dark/active.png);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:left:!selected:hover {
    background-image: url(:/dark/normal.png);
    background-repeat:no-repeat;
    color: #0a2d3c;
}


/* RIGHT TABS */
DragInOutTabBar::tab:right {
    color: #0a2d3c;
    background-image: url(:/dark/active.png);
    background-repeat:no-repeat;
    height: 28px;
    width: 132px;
}

DragInOutTabBar::tab:right:!selected
{
    color: #eff0f1;
    background-image: url(:/dark/normal.png);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:right:!selected:hover {
    background-image: url(:/dark/active.png);
    background-repeat:no-repeat;
    color: #0a2d3c;
}

QDateEdit {
	background:#121716;
    color:#e8e5d5;
	height:20px;
    font-size:12px;
    border: 1px solid #1b4b63;
}
QDateEdit[property="error"] {
    /*selection-background-color:#0e9496;*/
    border-left: 5px solid qlineargradient(spread:pad, x1:1, y1:0, x2:0, y2:0, stop:0 rgba(255, 0, 0, 120), stop:1 transparent);
	border-bottom: 5px solid qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 0, 0, 120), stop:1 transparent);
	border-right: 5px solid qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(255, 0, 0, 120), stop:1 transparent);
	border-top: 5px solid qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(255, 0, 0, 120), stop:1 transparent);
}
QDateEdit::hover,
QDateEdit::pressed,
QDateEdit::on{
    background:#232220;
	border-color: #a67439;
}
QDateEdit::drop-down {
	margin: 3px 10px;
	image: url(:/dark/date.png);
	outline: none;
}
QDateEdit::drop-down:pressed,
QDateEdit::drop-down:hover,
QDateEdit::drop-down:on {
	image: url(:/dark/date-down.png);
	outline: none;
}

/*----------日历控件------start-----------*/
QToolButton#qt_calendar_prevmonth,
QToolButton#qt_calendar_nextmonth,
QToolButton#qt_calendar_monthbutton,
QToolButton#qt_calendar_yearbutton{
	background:transparent;
	background-color: transparent;
	border:none;
	border-radius:5px;
	margin:1px 3px;
	padding:1px;
	outline:none;
}
QToolButton#qt_calendar_monthbutton,
QToolButton#qt_calendar_yearbutton
{
	width:60px;
}
QToolButton#qt_calendar_prevmonth
{
	qproperty-icon:url(:/dark/dropleft.png);
}
QToolButton#qt_calendar_nextmonth
{
	qproperty-icon:url(:/dark/dropright.png);
}
QToolButton#qt_calendar_prevmonth:hover,
QToolButton#qt_calendar_prevmonth:pressed
{
	qproperty-icon:url(:/dark/dropleft-hover.png);
}
QToolButton#qt_calendar_nextmonth:hover,
QToolButton#qt_calendar_nextmonth:pressed
{
	qproperty-icon:url(:/dark/dropright-hover.png);
}
QToolButton#qt_calendar_prevmonth:pressed,
QToolButton#qt_calendar_nextmonth:pressed{
	border:2px solid transparent;
}
QWidget#qt_calendar_navigationbar{
	/*background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #4D4D4D,stop:1 #292929);*/
    background: #1a4a64;
    color: #ff900d;
}
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit{
	background:#232220;
	border-color: #a67439;
	selection-background-color: #ff900d;
	selection-color: #000000;
	height: 20px;
}

QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::up-button
{
	image:url(:/dark/upsolid.png);
	outline: none;
	margin-left: 5px;
}
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::up-button:hover,
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::up-button:pressed
{
	image:url(:/dark/upsolid-hover.png);
	outline: none;
}
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::down-button{
    image:url(:/dark/downsolid.png);
	outline: none;
	margin-left: 5px;
}
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::down-button:hover,
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::down-button:pressed{
    image:url(:/dark/downsolid-hover.png);
	outline: none;
}

QToolButton#qt_calendar_monthbutton::menu-indicator{
	subcontrol-origin: padding;
	subcontrol-position: center right;
}
QCalendarView#qt_calendar_calendarview{
	/*background-color: #1b4b63;*/
    background: #121616;
	alternate-background-color: #040A0A;
	selection-background-color: #ff900d;
	selection-color: #1b4b63;
	outline: none;
    color: #ffffff;
}
/*---------------日历控件------end------------------*/

/*---------------QComboBox---start------------*/
QComboBox {
	background:#121716;
    color:#e8e5d5;
	height:20px;
    font-size:12px;
	border: 1px solid #1b4b63;
}
QComboBox[property="error"] {
    /*selection-background-color:#0e9496;*/
    border-left: 5px solid qlineargradient(spread:pad, x1:1, y1:0, x2:0, y2:0, stop:0 rgba(255, 0, 0, 120), stop:1 transparent);
	border-bottom: 5px solid qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(255, 0, 0, 120), stop:1 transparent);
	border-right: 5px solid qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(255, 0, 0, 120), stop:1 transparent);
	border-top: 5px solid qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(255, 0, 0, 120), stop:1 transparent);
}
QComboBox::hover {
    background: #232220;
}

QComboBox::drop-down {
	image: url(:/dark/dropdown.png);
	outline: none;
	margin: 6px 4px;
}
QComboBox::drop-down:pressed,
QComboBox::drop-down:hover,
QComboBox::drop-down:on {
	image: url(:/dark/dropdown-down.png);
	outline: none;
}
QComboBox, QAbstractItemView 
{
    alternate-background-color: #232220;
	selection-background-color: #ff900d;
	selection-color: #232220;
    background: #121716;
    color: #e8e5d5;
	border: none;
	outline: none;
}
/*------------QComboBox---end------------*/

/*------------FinancialCalendar QTreeView---start------------*/
QTreeView[objectName="treeView"]{
    background-color: #121715;
	alternate-background-color: #040c0a;
	outline: none;
    color:#e0ad67;
	border:none;
	font-size:12px;
}
QTreeView[objectName="treeView"] QHeaderView::section{
	background-color: #000000;
	border-top: none;
    border-left:none;
    border-right:1px solid #1b4b63;
    border-bottom: none;
    padding-left: 10px;
	height: 16px;
    color: #e8e5d5;
}
QTreeView[objectName="treeView"] QHeaderView::section:first {
    padding-left: 30px;
}
QTreeView[objectName="treeView"] QHeaderView::section:last {
    border-right: none;
}
QTreeView[objectName="treeView"]::item{
	outline: none;
	border: none;
    height: 26px;
}
QTreeView[objectName="treeView"]::item:hover {
	background:#1a4b64;
}
QTreeView[objectName="treeView"]::item:selected,
QTreeView[objectName="treeView"]::item:selected:active,
QTreeView[objectName="treeView"]::item:selected:!active {
	background:#1a4b64;
	outline: none;
    color: #e0ad67;
}

QTreeView[objectName="treeView"]::branch:has-children:!has-siblings:closed,
QTreeView[objectName="treeView"]::branch:closed:has-children:has-siblings {
    image: url(:/dark/treetable-retract.png);
	outline: none;
}
QTreeView[objectName="treeView"]::branch:has-children:!has-siblings:closed:hover,
QTreeView[objectName="treeView"]::branch:closed:has-children:has-siblings:hover {
    image: url(:/dark/treetable-retract.png);
	outline: none;
}
QTreeView[objectName="treeView"]::branch:open:has-children:!has-siblings,
QTreeView[objectName="treeView"]::branch:open:has-children:has-siblings  {
    image: url(:/dark/treetable-spread.png);
	outline: none;
}
QTreeView[objectName="treeView"]::branch:open:has-children:!has-siblings:hover,
QTreeView[objectName="treeView"]::branch:open:has-children:has-siblings:hover  {
    image: url(:/dark/treetable-spread.png);
	outline: none;
}
/*
FinancialCalendar QTreeView[objectName="treeView"]::item:selected:active{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #232220, stop: 1 #ff900d);
}

FinancialCalendar QTreeView[objectName="treeView"]::item:selected:!active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6b9be8, stop: 1 #577fbf);
}*/

/*------------FinancialCalendar QTreeView---end------------*/
QWidget[objectName="MovingWidget"]
{
	background: black;
	opacity: 50;
	border: 1px solid #0A2D3C;
	border-radius: 5px;
}
QWidget[objectName="MovingWidget"] > QLabel{
	background: transparent;
}

