*{
    font-size:12px;
    font-family:"Microsoft YaHei";
    color:#333333;
}

/*-------------------FmlStyle----------------*/
QWidget[fmlName="WeekendCalendar"] {
    color: #86A9DB;
}
/*-------------------------------------------*/

QPushButton,QToolButton{
    background: #aec9ec;
    outline: none;
    color:#666666;
    height:24px;
    border-radius: 5px;
}

QPushButton::hover,QToolButton::hover{
    background:#98b9e5;
	color:#f5fafe;
	outline: none;
}
QPushButton::pressed,QToolButton::pressed{
    background:#18468a;
	color:#f5fafe;
	outline: none;
}
QPushButton::disabled,QToolButton::disabled{
    background:#dcdcdc;
    color:#a6a6a6;
	outline: none;
}

IDBImageButton,IDBImageButton::hover,IDBImageButton::pressed,IDBImageButton:disabled,IDBImageButton:hover,IDBImageButton:checked{
    background:transparent;
    outline: none;
    color: transparent;
    margin: 0;
    padding: 0;
}

MainTitle QLabel, TitleWidget QLabel {
    color: #666666;
    font-size: 14px;
}

basicui{
	background: #ffffff;
}
basicui QWidget[objectName="title"]{
	background: #dddddd;
}

QScrollBar:vertical {
    background:#d9e8fc;
    width: 6px;
    min-width:6px;
    max-width:6px;
    margin: 0;
}
QScrollBar::handle:vertical {
    background:#98b9e5;
    min-height: 30px;
    margin: 0px 0px 0px 0px;
    border-radius: 2px;
    border: none;
}
QScrollBar::handle:vertical:hover {
    background:#a5c4ed;
}

QScrollBar::handle:vertical:pressed {
    background:#7aa4dd;
}
QScrollBar::handle:vertical:disabled {
    background:#28282c;
}

QScrollBar::add-line:vertical {
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    width: 0px;
    height: 0px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: transparent;
}

QScrollBar:horizontal {
    background:#d9e8fc;
    height: 6px;
    margin: 0;
}
QScrollBar::handle:horizontal {
    background:#98b9e5;
    min-width: 30px;
    margin: 0 2px 0 1px;
    border-radius: 3px;
    border: none;
}

QScrollBar::handle:horizontal:hover {
    background:#a5c4ed;
}

QScrollBar::handle:horizontal:pressed {
    background:#7aa4dd;
}
QScrollBar::handle:horizontal:disabled {
    background:#28282c;
}

QScrollBar::add-line:horizontal {
    width: 0px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    width: 0px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    width: 0px;
    height: 0px;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QMenuBar {
	color: #666666;
    background: #dddddd;
    border:none;
	text-align: center;
	font-size: 14px;
}

QMenuBar::item {
    padding: 0px 10px 3px 10px;
	margin: 3px 2px;
    border-radius: 5px;
    background: transparent;
}
QMenuBar::item:selected
{
    background: #a6a6a6;
}
QMenuBar::item:pressed
{
    background: #a6a6a6;
}
QMenuBar::item:hover
{
    background: #a6a6a6;
}
QMenu {
	font-size:14px;
	color:#333;
    background-color:#dddddd;
    text-align:center;
    float:left;
}
QMenu::item {
    padding: 3px 25px 5px 20px;
}
QMenu::item:hover {
    background: #a6a6a6;
	margin: 0px;
	color: #fff;
}
QMenu::item:selected {
    background:#a6a6a6;
	margin: 0px;
	color: #fff;
}
QMenu::item:!enabled {
    color:#75777e;
}
QMenu::separator {
    height:1px;
    background:#1D99A9;
}
QMenu::item[objectName="SkinMenu"] {
    padding: 3px 15px 3px 20px;
    margin-left: 3px;
}

QLineEdit {
    background:#ffffff;
	color:#dcdcdc;
    font-size:12px;
    height:20px;
    /*selection-background-color:#0e9496;*/
    border: 1px solid #dcdcdc;
}

QLineEdit::hover, 
QLineEdit::pressed {
    background:#ffffff;
	border: 1px solid #f9c59a;
    color: #666666;
}
/*QLineEdit::pressed{
    background:#232220;
	border-color: #6886b8;
}*/
/*QLineEdit::disabled{
    background:#36383d;
    color:#aaaaaa
}*/

QTextEdit {
    background:#ffffff;
	color:#dcdcdc;
    font-size:12px;
    height:20px;
    /*selection-background-color:#0e9496;*/
    border: 1px solid #dcdcdc;
}

QTextEdit::hover,
QTextEdit::pressed {
    background:#ffffff;
	border: 1px solid #f9c59a;
    color: #666666;
}

QScrollArea
{
    background-color:transparent;
    border:0px;
	outline: none;
}

QScrollArea > QWidget > QWidget
{
    background: transparent;
    border: 0px solid black;
    margin: 0px 0px 0px 0px;
}

QWidget#ReloginMessageBoxWidget QLabel{
    font-size:13px;
}
QWidget#ReloginMessageBoxWidget QPushButton{
    font-size:15px; 
	font-weight:bold;
}

MessageBoxWidget {
	background-color: #000000;
	border-radius: 5px;
	border: 1px solid #206c93;
	opacity: 0.75;
}

MessageBoxWidget QLabel[objectName="labelContent"] {
	color:#ffffff;
	font:16px;
}

QToolTip {
    color: white;
    border: 1px solid #76797c;
    background-color: #1e1e1e;
    font-size: 12px;
    padding: 2px;
    opacity: 200;
}

DragInOutTabWidget{
    background: transparent;
}

DragInOutTabWidget::pane {
    border-top: 3px solid #f5fafe;
    border-radius: 1px;
    padding: 5px;
}

DragInOutTabWidget::tab-bar {
    height: 28px;
}

DragInOutTabBar {
    qproperty-drawBase: 0;
    border-radius: 1px;
    background: #dddddd;
    height: 28px;
    border-bottom: 3px solid #6886B8;
}

DragInOutTabBar:focus {
    border-bottom: 3px solid #f5fafe;
}

DragInOutTabBar > QToolButton {
	border-radius: 0px;
}

DragInOutTabBar::close-button:selected:!hover,
DragInOutTabBar::close-button:selected:hover,
DragInOutTabBar::close-button:!selected:hover,
DragInOutTabBar::close-button:!selected:!hover {
    background-color: transparent;
}

/*
DragInOutTabBar::tab{
    margin: 0 -5px;
}
DragInOutTabBar::tab:first{
    margin: 0px;
}*/
/* TOP TABS */
DragInOutTabBar::tab:top {
    color: #18468a;
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    height: 28px;
    width: 132px;
	/*margin-right: -10px;*/
}
/*DragInOutTabBar::tab:top:only-one {
	margin-right: 0;
}
DragInOutTabBar::tab:top:selected  {
	margin-right: -10px;
}*/
DragInOutTabBar::tab:top:!selected
{
    color: #eff0f1;
    background-image: url(:/light/normal.png);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:top:!selected:hover {
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    color: #18468a;
}

/* BOTTOM TABS */
DragInOutTabBar::tab:bottom {
    color: #18468a;
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    height: 28px;
    width: 132px;
}

DragInOutTabBar::tab:bottom:!selected
{
    color: #eff0f1;
    background-image: url(:/light/normal.png);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:bottom:!selected:hover {
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    color: #18468a;
}

/* LEFT TABS */
DragInOutTabBar::tab:left {
    color: #18468a;
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    height: 28px;
    width: 132px;
}

DragInOutTabBar::tab:left:!selected
{
    color: #eff0f1;
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:left:!selected:hover {
    background-image: url(:/light/normal.png);
    background-repeat:no-repeat;
    color: #18468a;
}


/* RIGHT TABS */
DragInOutTabBar::tab:right {
    color: #18468a;
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    height: 28px;
    width: 132px;
}

DragInOutTabBar::tab:right:!selected
{
    color: #eff0f1;
    background-image: url(:/light/normal.png);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:right:!selected:hover {
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    color: #18468a;
}

QDateEdit {
	background:#ffffff;
    color:#dcdcdc;
	height:20px;
    font-size:12px;
    border: 1px solid #dcdcdc;
}
QDateEdit::hover,
QDateEdit::pressed,
QDateEdit::on{
    background:#ffffff;
    color: #666666;
}
QDateEdit::drop-down {
	margin: 3px 10px;
	image: url(:/light/date.png);
	outline: none;
}
QDateEdit::drop-down:pressed,
QDateEdit::drop-down:hover,
QDateEdit::drop-down:on {
	image: url(:/light/date-down.png);
	outline: none;
}

/*----------日历控件------start-----------*/
QToolButton#qt_calendar_prevmonth,
QToolButton#qt_calendar_nextmonth,
QToolButton#qt_calendar_monthbutton,
QToolButton#qt_calendar_yearbutton{
	background:transparent;
	background-color: transparent;
	border:none;
	border-radius:5px;
	margin:1px 3px;
	padding:1px;
	outline:none;
}
QToolButton#qt_calendar_monthbutton,
QToolButton#qt_calendar_yearbutton
{
	width:60px;
}
QToolButton#qt_calendar_prevmonth
{
	qproperty-icon:url(:/light/dropleft.png);
}
QToolButton#qt_calendar_nextmonth
{
	qproperty-icon:url(:/light/dropright.png);
}
QToolButton#qt_calendar_prevmonth:hover,
QToolButton#qt_calendar_prevmonth:pressed
{
	qproperty-icon:url(:/light/dropleft-hover.png);
}
QToolButton#qt_calendar_nextmonth:hover,
QToolButton#qt_calendar_nextmonth:pressed
{
	qproperty-icon:url(:/light/dropright-hover.png);
}
QToolButton#qt_calendar_prevmonth:pressed,
QToolButton#qt_calendar_nextmonth:pressed{
	border:2px solid transparent;
}
QWidget#qt_calendar_navigationbar{
	/*background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #4D4D4D,stop:1 #292929);*/
    background: #98B9E5;
    color: #E8EFF9;
}
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit{
	background:#98B9E5;
	border-color: #ffffff;
	selection-background-color: #dcdcdc;
	selection-color: #666666;
	height: 20px;
}

QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::up-button
{
	image:url(:/light/upsolid.png);
	outline: none;
	margin-left: 5px;
}
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::up-button:hover,
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::up-button:pressed
{
	image:url(:/light/upsolid-hover.png);
	outline: none;
}
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::down-button{
    image:url(:/light/downsolid.png);
	outline: none;
	margin-left: 5px;
}
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::down-button:hover,
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::down-button:pressed{
    image:url(:/light/downsolid-hover.png);
	outline: none;
}

QToolButton#qt_calendar_monthbutton::menu-indicator{
	subcontrol-origin: padding;
	subcontrol-position: center right;
}
QCalendarView#qt_calendar_calendarview{
	/*background-color: #1b4b63;*/
	alternate-background-color: #F5FAFE;
    selection-background-color: #6192D2;
    selection-color: #DFE6F4;
    background: #fff;
	outline: none;
    color: #000;
}
/*---------------日历控件------end------------------*/

/*---------------QComboBox---start------------*/
QComboBox {
	background:#ffffff;
    color:#666666;
	height:20px;
    font-size:12px;
	border: 1px solid #dcdcdc;
}

QComboBox::hover {
    background: #ffffff;
}

QComboBox::drop-down {
	image: url(:/light/dropdown.png) ;
	outline: none;
	margin: 6px 4px;
}
QComboBox::drop-down:pressed,
QComboBox::drop-down:hover,
QComboBox::drop-down:on {
	image: url(:/light/dropdown-down.png);
	outline: none;
}
QComboBox, QAbstractItemView
{
	alternate-background-color: #ffffff;
	selection-background-color: #ff900d;
	selection-color: #666666;
	border: none;
	background: #f4fafe;
    color: #666666;
	outline: none;
}
/*------------QComboBox---end------------*/

/*------------FinancialCalendar QTreeView---start------------*/
QTreeView[objectName="treeView"]{
	background-color: #f4fbfe;
	alternate-background-color: #fefefe;
	outline: none;
    color:#333333;
	border:none;
	font-size:12px;
}
QTreeView[objectName="treeView"] QHeaderView::section{
	background-color: #ffffff;
	border-top: none;
    border-left:none;
    border-right:1px solid #bfd0f5;
    border-bottom: none;
	padding-left: 10px;
	height: 16px;
    color: #333333;
}
QTreeView[objectName="treeView"] QHeaderView::section:first {
    padding-left: 30px;
}
QTreeView[objectName="treeView"] QHeaderView::section:last {
    border-right: none;
}
QTreeView[objectName="treeView"]::item{
	outline: none;
	border: none;
    height: 26px;
}
QTreeView[objectName="treeView"]::item:hover {
	background:#e7e7e7;
}
QTreeView[objectName="treeView"]::item:selected,
QTreeView[objectName="treeView"]::item:selected:active,
QTreeView[objectName="treeView"]::item:selected:!active {
	background:#e7e7e7;
	outline: none;
    color: #333;
}

QTreeView[objectName="treeView"]::branch:has-children:!has-siblings:closed,
QTreeView[objectName="treeView"]::branch:closed:has-children:has-siblings {
    image: url(:/light/treetable-retract.png);
	outline: none;
}
QTreeView[objectName="treeView"]::branch:has-children:!has-siblings:closed:hover,
QTreeView[objectName="treeView"]::branch:closed:has-children:has-siblings:hover {
    image: url(:/light/treetable-retract.png);
	outline: none;
}
QTreeView[objectName="treeView"]::branch:open:has-children:!has-siblings,
QTreeView[objectName="treeView"]::branch:open:has-children:has-siblings  {
    image: url(:/light/treetable-spread.png);
	outline: none;
}
QTreeView[objectName="treeView"]::branch:open:has-children:!has-siblings:hover,
QTreeView[objectName="treeView"]::branch:open:has-children:has-siblings:hover  {
    image: url(:/light/treetable-spread.png);
	outline: none;
}
/*
FinancialCalendar QTreeView[objectName="treeView"]::item:selected:active{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #232220, stop: 1 #f5fafe);
}

FinancialCalendar QTreeView[objectName="treeView"]::item:selected:!active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6b9be8, stop: 1 #577fbf);
}*/

/*------------FinancialCalendar QTreeView---end------------*/
QWidget[objectName="MovingWidget"]
{
	background: #ffffff;
	opacity: 50;
	border: 1px solid #dddddd;
	border-radius: 5px;
}
QWidget[objectName="MovingWidget"] > QLabel{
	background: transparent;
}













