*{
    font-size:12px;
    font-family:"Microsoft YaHei";
    color:#ffffff;
}

QPushButton,QToolButton{
    background: #aec9ec;
    outline: none;
    color:#666666;
    height:24px;
    border-radius: 5px;
}

QPushButton::hover,QToolButton::hover{
    background:#98b9e5;
	color:#f5fafe;
	outline: none;
}
QPushButton::pressed,QToolButton::pressed{
    background:#18468a;
	color:#f5fafe;
	outline: none;
}
QPushButton::disabled,QToolButton::disabled{
    background:#dcdcdc;
    color:#a6a6a6;
	outline: none;
}

IDBImageButton,IDBImageButton::hover,IDBImageButton::pressed,IDBImageButton:disabled,IDBImageButton:hover,IDBImageButton:checked{
    background:transparent;
    outline: none;
    color: transparent;
    margin: 0;
    padding: 0;
}

MainTitle QLabel, TitleWidget QLabel {
    color: #666666;
}

basicui,MainWidget,SubWidget{
	background: #ffffff;
}

basicui QWidget[objectName="title"],
MainWidget QWidget[objectName="title"],
SubWidget QWidget[objectName="title"] {
	background: #dddddd;
}

basicui QWidget[objectName="title"] QPushButton[objectName="btn_close"],
MainWidget QWidget[objectName="title"] QPushButton[objectName="btn_close"],
SubWidget QWidget[objectName="title"] QPushButton[objectName="btn_close"]
{
	background: #18468a;
	background-image: url(:/light/close.png);
    background-repeat:no-repeat;
	width: 30px;
	height: 20px;
	max-height:20px;
	max-width:30px;
	outline: none;
	border-radius: none;
	border-top-right-radius:5px;
}
basicui QWidget[objectName="title"] QPushButton[objectName="btn_close"]::hover,
basicui QWidget[objectName="title"] QPushButton[objectName="btn_close"]::pressed,
MainWidget QWidget[objectName="title"] QPushButton[objectName="btn_close"]::hover,
MainWidget QWidget[objectName="title"] QPushButton[objectName="btn_close"]::pressed,
SubWidget QWidget[objectName="title"] QPushButton[objectName="btn_close"]::hover,
SubWidget QWidget[objectName="title"] QPushButton[objectName="btn_close"]::pressed
{
	background: #18468a;
	background-image: url(:/light/close-click-hover.png);
    background-repeat:no-repeat;
	width: 30px;
	height: 20px;
	max-height:20px;
	max-width:30px;
	outline: none;
	border-radius: none;
	border-top-right-radius:5px;
}
basicui QWidget[objectName="title"] QPushButton[objectName="btn_max"],
MainWidget QWidget[objectName="title"] QPushButton[objectName="btn_max"],
SubWidget QWidget[objectName="title"] QPushButton[objectName="btn_max"]
{
	background: #18468a;
	background-image: url(:/light/maximized.png);
    background-repeat:no-repeat;
	width: 20px;
	height: 20px;
	max-height:20px;
	max-width:20px;
	outline: none;
	border-radius: none;
}
basicui QWidget[objectName="title"] QPushButton[objectName="btn_max"]::hover,
basicui QWidget[objectName="title"] QPushButton[objectName="btn_max"]::pressed,
MainWidget QWidget[objectName="title"] QPushButton[objectName="btn_max"]::hover,
MainWidget QWidget[objectName="title"] QPushButton[objectName="btn_max"]::pressed,
SubWidget QWidget[objectName="title"] QPushButton[objectName="btn_max"]::hover,
SubWidget QWidget[objectName="title"] QPushButton[objectName="btn_max"]::pressed
{
	background: #18468a;
	background-image: url(:/light/maximized-click-hover.png);
    background-repeat:no-repeat;
	width: 20px;
	height: 20px;
	max-height:20px;
	max-width:20px;
	outline: none;
	border-radius: none;
}
basicui QWidget[objectName="title"] QPushButton[objectName="btn_min"],
MainWidget QWidget[objectName="title"] QPushButton[objectName="btn_min"],
SubWidget QWidget[objectName="title"] QPushButton[objectName="btn_min"]
{
	background: #18468a;
	background-image: url(:/light/minimize.png);
    background-repeat:no-repeat;
	width: 20px;
	height: 20px;
	max-height:20px;
	max-width:20px;
	outline: none;
	border-radius: none;
}
basicui QWidget[objectName="title"] QPushButton[objectName="btn_min"]::hover,
basicui QWidget[objectName="title"] QPushButton[objectName="btn_min"]::pressed,
MainWidget QWidget[objectName="title"] QPushButton[objectName="btn_min"]::hover,
MainWidget QWidget[objectName="title"] QPushButton[objectName="btn_min"]::pressed,
SubWidget QWidget[objectName="title"] QPushButton[objectName="btn_min"]::hover,
SubWidget QWidget[objectName="title"] QPushButton[objectName="btn_min"]::pressed
{
	background: #18468a;
	background-image: url(:/light/minimize-click-hover.png);
    background-repeat:no-repeat;
	width: 20px;
	height: 20px;
	max-height:20px;
	max-width:20px;
	outline: none;
	border-radius: none;
}
basicui QWidget[objectName="title"] QPushButton[objectName="btn_restore"],
MainWidget QWidget[objectName="title"] QPushButton[objectName="btn_restore"],
SubWidget QWidget[objectName="title"] QPushButton[objectName="btn_restore"]
{
	background: #18468a;
	background-image: url(:/light/pluralized.png);
    background-repeat:no-repeat;
	width: 20px;
	height: 20px;
	max-height:20px;
	max-width:20px;
	outline: none;
	border-radius: none;
}
basicui QWidget[objectName="title"] QPushButton[objectName="btn_restore"]::hover,
basicui QWidget[objectName="title"] QPushButton[objectName="btn_restore"]::pressed,
MainWidget QWidget[objectName="title"] QPushButton[objectName="btn_restore"]::hover,
MainWidget QWidget[objectName="title"] QPushButton[objectName="btn_restore"]::pressed,
SubWidget QWidget[objectName="title"] QPushButton[objectName="btn_restore"]::hover,
SubWidget QWidget[objectName="title"] QPushButton[objectName="btn_restore"]::pressed
{
	background: #18468a;
	background-image: url(:/light/pluralized-click-hover.png);
    background-repeat:no-repeat;
	width: 20px;
	height: 20px;
	max-height:20px;
	max-width:20px;
	outline: none;
	border-radius: none;
}


QScrollBar:vertical {
    background:#152731;
    width: 6px;
    min-width:6px;
    max-width:6px;
    margin: 0;
}
QScrollBar::handle:vertical {
    background:#aec9ec;
    min-height: 30px;
    margin: 0px 0px 0px 0px;
    border-radius: 2px;
    border: none;
}
QScrollBar::handle:vertical:hover {
    background:#277fad;
}

QScrollBar::handle:vertical:pressed {
    background:#98b9e5;
}
QScrollBar::handle:vertical:disabled {
    background:#28282c;
}

QScrollBar::add-line:vertical {
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    width: 0px;
    height: 0px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: transparent;
}

QScrollBar:horizontal {
    background:#152731;
    height: 6px;
    margin: 0;
}
QScrollBar::handle:horizontal {
    background:#aec9ec;
    min-width: 30px;
    margin: 0 2px 0 1px;
    border-radius: 3px;
    border: none;
}

QScrollBar::handle:horizontal:hover {
    background:#277fad;
}

QScrollBar::handle:horizontal:pressed {
    background:#98b9e5;
}
QScrollBar::handle:horizontal:disabled {
    background:#28282c;
}

QScrollBar::add-line:horizontal {
    width: 0px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    width: 0px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    width: 0px;
    height: 0px;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QMenuBar {
	color: #666666;
    /*background: #18468a;*/
    background: #dddddd;
    border:none;
	text-align: center;
	font-size: 14px;
}

QMenuBar::item {
    padding: 0px 10px 3px 10px;
	margin: 3px 2px;
    border-radius: 5px;
    background: transparent;
}
QMenuBar::item:selected
{
    background: #a6a6a6;
}
QMenuBar::item:pressed
{
    background: #a6a6a6;
}
QMenuBar::item:hover
{
    background: #a6a6a6;
}
QMenu {
	font-size:14px;
	color:#333;
    background-color:#dddddd;
    text-align:center;
    float:left;
}
QMenu::item {
    padding: 3px 25px 5px 20px;
}
QMenu::item:hover {
    background: #a6a6a6;
	margin: 0px;
	color: #fff;
}
QMenu::item:selected {
    background:#a6a6a6;
	margin: 0px;
	color: #fff;
}
QMenu::item:!enabled {
    color:#75777e;
}
QMenu::separator {
    height:1px;
    background:#1D99A9;
}

QLineEdit{
    background:#a6a6a6;
    color:#666666;
    font-size:12px;
    height:20px;
    /*selection-background-color:#0e9496;*/
    border:1px;
	border-color: #aec9ec;
}

QLineEdit::hover{
    background:#232220;
	border-color: #6886b8;
}
QLineEdit::pressed{
    background:#232220;
	border-color: #6886b8;
}
/*QLineEdit::disabled{
    background:#36383d;
    color:#aaaaaa
}*/
QTextEdit {
	background:#a6a6a6;
    color:#666666;
    font-size:12px;
	border:1px;
	border-color: #aec9ec;
}
QTextEdit::hover,
QTextEdit::pressed{
    background:#232220;
	border-color: #6886b8;
}

QScrollArea
{
    background-color:transparent;
    border:0px;
	outline: none;
}

QScrollArea > QWidget > QWidget
{
    background: transparent;
    border: 0px solid black;
    margin: 0px 0px 0px 0px;
}

QWidget#ReloginMessageBoxWidget QLabel{
    font-size:13px;
}
QWidget#ReloginMessageBoxWidget QPushButton{
    font-size:15px; 
	font-weight:bold;
}

MessageBoxWidget {
	background-color: #000000;
	border-radius: 5px;
	opacity: 0.75;
}

MessageBoxWidget QLabel[objectName="labelContent"] {
	color:#ffffff;
	font:16px;
}

QToolTip {
    color: white;
    border: 1px solid #76797c;
    background-color: #1e1e1e;
    font-size: 12px;
    padding: 2px;
    opacity: 200;
}

DragInOutTabWidget{
    background: transparent;
}

DragInOutTabWidget::pane {
    border-top: 3px solid #f5fafe;
    border-radius: 1px;
    padding: 5px;
}

DragInOutTabWidget::tab-bar {
    height: 28px;
}

DragInOutTabBar {
    qproperty-drawBase: 0;
    border-radius: 1px;
    background: #dddddd;
    height: 28px;
    border-bottom: 3px solid #6886B8;
}

DragInOutTabBar:focus {
    border-bottom: 3px solid #f5fafe;
}

DragInOutTabBar::close-button:!selected:!hover {
    background-color: transparent;
}

/*
DragInOutTabBar::tab{
    margin: 0 -5px;
}
DragInOutTabBar::tab:first{
    margin: 0px;
}*/
/* TOP TABS */
DragInOutTabBar::tab:top {
    color: #18468a;
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    height: 28px;
    width: 132px;
	/*margin-right: -10px;*/
}
/*DragInOutTabBar::tab:top:only-one {
	margin-right: 0;
}
DragInOutTabBar::tab:top:selected  {
	margin-right: -10px;
}*/
DragInOutTabBar::tab:top:!selected
{
    color: #eff0f1;
    background-image: url(:/light/normal.png);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:top:!selected:hover {
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    color: #18468a;
}

/* BOTTOM TABS */
DragInOutTabBar::tab:bottom {
    color: #18468a;
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    height: 28px;
    width: 132px;
}

DragInOutTabBar::tab:bottom:!selected
{
    color: #eff0f1;
    background-image: url(:/light/normal.png);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:bottom:!selected:hover {
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    color: #18468a;
}

/* LEFT TABS */
DragInOutTabBar::tab:left {
    color: #18468a;
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    height: 28px;
    width: 132px;
}

DragInOutTabBar::tab:left:!selected
{
    color: #eff0f1;
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:left:!selected:hover {
    background-image: url(:/light/normal.png);
    background-repeat:no-repeat;
    color: #18468a;
}


/* RIGHT TABS */
DragInOutTabBar::tab:right {
    color: #18468a;
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    height: 28px;
    width: 132px;
}

DragInOutTabBar::tab:right:!selected
{
    color: #eff0f1;
    background-image: url(:/light/normal.png);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:right:!selected:hover {
    background-image: url(:/light/active.png);
    background-repeat:no-repeat;
    color: #18468a;
}

QDateEdit {
	background:#a6a6a6;
    color:#666666;
	height:20px;
	width:130px;
    font-size:12px;
	border:1px;
	border-color: #aec9ec;
}
QDateEdit::hover,
QDateEdit::pressed,
QDateEdit::on{
    background:#232220;
	border-color: #6886b8;
}
QDateEdit::drop-down {
	margin: 3px 10px;
	image: url(:/light/date.png);
	outline: none;
}
QDateEdit::drop-down:pressed,
QDateEdit::drop-down:hover,
QDateEdit::drop-down:on {
	image: url(:/light/datedown.png);
	outline: none;
}

/*----------日历控件------start-----------*/
QPrevNextCalButton#qt_calendar_prevmonth,
QPrevNextCalButton#qt_calendar_nextmonth,
QToolButton#qt_calendar_monthbutton,
QToolButton#qt_calendar_yearbutton{
	background:transparent;
	background-color: transparent;
	border:none;
	border-radius:5px;
	margin:1px 3px;
	padding:1px;
	outline:none;
}
QToolButton#qt_calendar_monthbutton,
QToolButton#qt_calendar_yearbutton
{
	width:60px;
}
QPrevNextCalButton#qt_calendar_prevmonth:pressed,
QPrevNextCalButton#qt_calendar_nextmonth:pressed{
	border:2px solid transparent;
}
QWidget#qt_calendar_navigationbar{
	border:1px solid #575757;
	border-width:1px 1px 0px 1px;
	background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #4D4D4D,stop:1 #292929);
}
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit{
	background:#232220;
	border-color: #6886b8;
	selection-background-color: #f5fafe;
	selection-color: #ff900d;
}
/*
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::up-button
{
	image:url(:/images/scroll_up.png);
}
QWidget#qt_calendar_navigationbar QSpinBox#qt_calendar_yearedit::down-button{
    image:url(:/images/scroll_down.png);
}
*/
QToolButton#qt_calendar_monthbutton::menu-indicator{
	subcontrol-origin: padding;
	subcontrol-position: center right;
}
QCalendarView#qt_calendar_calendarview{
	background:transparent;
	background-color: #aec9ec;
	alternate-background-color: #232220;
	selection-background-color: #f5fafe;
	selection-color: #000;
	border: none;
	outline: none;
}
/*---------------日历控件------end------------------*/

/*---------------QComboBox---start------------*/
QComboBox {
	background:#a6a6a6;
    color:#666666;
	height:20px;
	width:130px;
    font-size:12px;
	border:1px;
	border-color: #aec9ec;
}
QComboBox::hover,
QComboBox::pressed,
QComboBox::on{
    background:#232220;
	border-color: #6886b8;
}
QComboBox::drop-down {
	image: url(:/light/dropdown.png) ;
	outline: none;
	margin: 6px 4px;
}
QComboBox::drop-down:pressed,
QComboBox::drop-down:hover,
QComboBox::drop-down:on {
	image: url(:/light/dropdowndown.png);
	outline: none;
}
QComboBox QAbstractItemView
{
	alternate-background-color: #a6a6a6;
	selection-background-color: #f5fafe;
	selection-color: #ff900d;
	border: none;
	background: #232220;
	outline: none;
}
/*------------QComboBox---end------------*/

/*------------ParaMgrHoliday QTreeView---start------------*/
QTreeView[objectName="treeView"]{
	background:transparent;
	background-color: #040c0a;
	alternate-background-color: #121715;
	outline: none;
    color:#a0ad67;
	border:none;
	font-size:12px;
}
QTreeView[objectName="treeView"] QHeaderView::section{
	background:transparent;
	background-color: #ff900d;
	padding: 2px 25%;
	border-top: none;
    border-left:none;
    border-right:1px solid #aec9ec;
    border-bottom: none;
	height: 16px;
}
QTreeView[objectName="treeView"]::item{
	outline: none;
	border: none;
}
QTreeView[objectName="treeView"]::item:hover {
	background:#1a4b64;
	color:#fff;
}
QTreeView[objectName="treeView"]::item:selected,
QTreeView[objectName="treeView"]::item:selected:active,
QTreeView[objectName="treeView"]::item:selected:!active {
	background:#1a4b64;
	outline: none;
	color:#fff;
}

/*
ParaMgrHoliday QTreeView[objectName="treeView"]::item:selected:active{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #232220, stop: 1 #f5fafe);
}

ParaMgrHoliday QTreeView[objectName="treeView"]::item:selected:!active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6b9be8, stop: 1 #577fbf);
}*/

/*------------ParaMgrHoliday QTreeView---end------------*/
QWidget[objectName="MovingWidget"]
{
	background: black;
	opacity: 50;
}
QWidget[objectName="MovingWidget"] > QLabel{
	background: transparent;
}













