*{
    font-size:12px;
    font-family:"Microsoft YaHei";
    color:#000000;
}

QPushButton,QToolButton{
    background: #46464c;
    border: none;
    color:#FFFFFF;
    font-size:12px;
    height:30px;
    border-radius: 3px;
}

QPushButton::hover,QToolButton::hover{
    background:#505057;
}
QPushButton::pressed,QToolButton::pressed{
    background:#026f6f;
}
QPushButton::disabled,QToolButton::disabled{
    background:#3b3b3e;
    color:#5d5d67;
}
QPushButton::checked,QToolButton::checked{
    background:#3E6A76;
}

QPushButton:default,QToolButton:default{
    background: #0e9496;
}
QPushButton:default::hover,QToolButton:default::hover{
    background: #11acae;
}
QPushButton:default::pressed,QToolButton:default::pressed{
    background: #046e70;
}
QPushButton:default::disabled,QToolButton:default::disabled{
    background: #005353;
    color:#3f7676;
}

IDBImageButton,IDBImageButton::hover,IDBImageButton::pressed,IDBImageButton:disabled,IDBImageButton:hover,IDBImageButton:checked{
    background:transparent;
    border:none;
    color: transparent;
    margin: 0;
    padding: 0;
}

QScrollBar:vertical {
    background:transparent;
    width: 6px;
    min-width:6px;
    max-width:6px;
    margin: 0;
}
QScrollBar::handle:vertical {
    background:#414147;
    min-height: 30px;
    margin: 0px 0px 0px 0px;
    border-radius: 2px;
    border: none;
}
QScrollBar::handle:vertical:hover {
    background:#505056;
}

QScrollBar::handle:vertical:pressed {
    background:#028789;
}
QScrollBar::handle:vertical:disabled {
    background:#28282c;
}

QScrollBar::add-line:vertical {
    height: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    height: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    width: 0px;
    height: 0px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: transparent;
}

QScrollBar:horizontal {
    background:transparent;
    height: 6px;
    margin: 0;
}
QScrollBar::handle:horizontal {
    background:#323237;
    min-width: 30px;
    margin: 0 2px 0 1px;
    border-radius: 3px;
    border: none;
}

QScrollBar::handle:horizontal:hover {
    background:#505056;
}

QScrollBar::handle:horizontal:pressed {
    background:#028789;
}
QScrollBar::handle:horizontal:disabled {
    background:#28282c;
}

QScrollBar::add-line:horizontal {
    width: 0px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    width: 0px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    width: 0px;
    height: 0px;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}


QSplitter::handle:horizontal {
    width:1px;
    background-color:#323438;
}

QSplitter::handle:vertical {
    height:1px;
	background-color:#323438;
}


QMenuBar {
    background: #0a2d3c;
    border:none;
	text-align: center;
	font-size: 14px;
}

QMenuBar::item {
    padding: 0px 10px 3px 10px;
	margin: 3px 2px;
    border-radius: 5px;
    background: transparent;
}
QMenuBar::item:selected
{
    background: #1b4d63;
}
QMenuBar::item:pressed
{
    background: #1b4b63;
}
QMenuBar::item:hover
{
    background: #206c93;
}
QMenu {
	font-size:14px;
	color:#e8e5d5;
    background-color:#1b4d63;
    text-align:center;
    display:block;
    float:left;
}
QMenu::item {
    padding: 3px 25px 5px 20px;
}
QMenu::item:hover {
    background: #fe900d;
	margin: 0px;
	color: #000;
}
QMenu::item:selected {
    background:#fe900d;
	margin: 0px;
	color: #000;
}
QMenu::item:!enabled {
    color:#75777e;
}
QMenu::separator {
    height:1px;
    background:#1D99A9;
}

QLineEdit{
    background:#36383d;
    color:#ffffff;
    font-size:12px;
    height:30px;
    selection-background-color:#0e9496;
    border-radius: 3px;
    border:1px;
}

QLineEdit::hover{
    background:#505057;
}
QLineEdit::pressed{
    background:#505057;
}
QLineEdit::disabled{
    background:#36383d;
    color:#aaaaaa
}







QTreeWidget::focus{
    border: 0px solid #099190;
}

/** �ָ��� **/
IDBLine
{
    background:#3c3c41;
    border-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

QCheckBox {
    color:white
}

QProgressBar {
    border: 0px solid grey;
    border-radius: 0px;
    text-align: center;
    background-color:#28282c;
}

QProgressBar::chunk {
    background-color:#017b7a;
}

QScrollArea
{
    background-color:transparent;
    border:0px;
}

QScrollArea > QWidget > QWidget
{
    background: transparent;
    border: 0px solid black;
    margin: 0px 0px 0px 0px;
}

QComboBox QAbstractItemView {
    selection-background-color: #0e9496;
    border:none;
    outline: none;
}

QWidget#MessageBoxWidget QPushButton#pbOk{
    color:#ffffff;
	font:12px;
	background:#0e9496;
}
QWidget#MessageBoxWidget QPushButton#pbOk::hover{
    background:#11acae;
}
QWidget#MessageBoxWidget QPushButton#pbOk::pressed{
    background:#046e70;
}
QWidget#MessageBoxWidget QPushButton#pbOk::disabled{
    background:#005353;
	color:#3f7676;
}

QWidget#MessageBoxWidget QPushButton#pbCancel{
    color:#ffffff;
	font:12px;
	background:#46464c;
}
QWidget#MessageBoxWidget QPushButton#pbCancel::hover{
    background:#505057;
}
QWidget#MessageBoxWidget QPushButton#pbCancel::pressed{
    background:#026f6f;
}
QWidget#MessageBoxWidget QPushButton#pbCancel::disabled{
    background:#3b3b3e;
	color:#5d5d67;
}

QWidget#MessageBoxWidget QLabel#labelContent{
    color:#fffcf6;
	font:14px;
}

QWidget#ReloginMessageBoxWidget QLabel{
    font-size:13px;
}
QWidget#ReloginMessageBoxWidget QPushButton{
    font-size:15px; 
	font-weight:bold;
}

QListView {
	background-color: transparent;
	outline:0px;
}
QListView::item:hover {
    background-color: #209a9b;
	outline:0px;
}

QListView::item:selected {
    background-color: #157b7c;
    border: none;
	outline:0px;
}


QListView#listFunc {
	background-color:transparent;
	border-right: 1px solid #3c3c41;
	border-bottom: none;
	border-left: none;
	border-top: none;
	
}
QListView#listFunc::item {
	height: 40px;
}

QListView#listDetailFunc {
	background-color:transparent;
	border:none;
}

QToolTip {
    color: white;
    border: 1px solid #76797c;
    background-color: #1e1e1e;
    font-size: 12px;
    padding: 2px;
    opacity: 200;
}

DragInOutTabWidget{
    background: transparent;
}

DragInOutTabWidget::pane {
    border-top: 2px solid #ff900d;
    border-radius: 1px;
    padding: 5px;
}

DragInOutTabWidget::tab-bar{
    height: 25px;
    left: 5px;

}
DragInOutTabBar
{
    qproperty-drawBase: 0;
    left: 5px; /* move to the right by 5px */
    border-radius: 1px;
    background: #0a2d3c;
    height: 25px;
    border-bottom: 2px solid #ff900d;
}

DragInOutTabBar:focus
{
    border-bottom: 2px solid #ff900d;
}

DragInOutTabBar::close-button  {
    image: url(:/skin/default/close);
    background: transparent;
}

DragInOutTabBar::close-button:hover
{
    image: url(:/skin/default/close-hover);
    background: transparent;
}

DragInOutTabBar::close-button:pressed {
    image: url(:/skin/default/close-pressed);
    background: transparent;
}

/*
DragInOutTabBar::tab{
    margin: 0 -5px;
}
DragInOutTabBar::tab:first{
    margin: 0px;
}*/
/* TOP TABS */
DragInOutTabBar::tab:top {
    color: #0b2c3d;
    background-image: url(:/skin/default/tab);
    background-repeat:no-repeat;
    height: 25px;
    width: 132px;
}

DragInOutTabBar::tab:top:!selected
{
    color: #eff0f1;
    background-image: url(:/skin/default/tab);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:top:!selected:hover {
    background-image: url(:/skin/default/tab);
    background-repeat:no-repeat;
    color: #0b2c3d;
}

/* BOTTOM TABS */
DragInOutTabBar::tab:bottom {
    color: #0b2c3d;
    background-image: url(:/skin/default/tab);
    background-repeat:no-repeat;
    height: 25px;
    width: 132px;
}

DragInOutTabBar::tab:bottom:!selected
{
    color: #eff0f1;
    background-image: url(:/skin/default/tab);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:bottom:!selected:hover {
    background-image: url(:/skin/default/tab);
    background-repeat:no-repeat;
    color: #0b2c3d;
}

/* LEFT TABS */
DragInOutTabBar::tab:left {
    color: #0b2c3d;
    background-image: url(:/skin/default/tab);
    background-repeat:no-repeat;
    height: 25px;
    width: 132px;
}

DragInOutTabBar::tab:left:!selected
{
    color: #eff0f1;
    background-image: url(:/skin/default/tab);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:left:!selected:hover {
    background-image: url(:/skin/default/tab);
    background-repeat:no-repeat;
    color: #0b2c3d;
}


/* RIGHT TABS */
DragInOutTabBar::tab:right {
    color: #0b2c3d;
    background-image: url(:/skin/default/tab);
    background-repeat:no-repeat;
    height: 25px;
    width: 132px;
}

DragInOutTabBar::tab:right:!selected
{
    color: #eff0f1;
    background-image: url(:/skin/default/tab);
    background-repeat:no-repeat;
}

DragInOutTabBar::tab:right:!selected:hover {
    background-image: url(:/skin/default/tab);
    background-repeat:no-repeat;
    color: #0b2c3d;
}

DragInOutTabBar QToolButton::right-arrow:enabled {
    image: url(:/skin/default/right_arrow);
}

DragInOutTabBar QToolButton::left-arrow:enabled {
    image: url(:/skin/default/left_arrow);
}

DragInOutTabBar QToolButton::right-arrow:disabled {
    image: url(:/skin/default/right_arrow_disabled);
}

DragInOutTabBar QToolButton::left-arrow:disabled {
    image: url(:/skin/default/left_arrow_disabled);
}